<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout.html}"
>
<head>
<meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content">
 <h1 id="title" class="text-center" style= "color:#ffffff ; font-family: 'Corben', Georgia, Times, serif;"><b>Seja bem vindo ao cadastro de jogos!</b></h1>
 <h6 class="text-center" style= "color:#ffffff;  font-family: 'Nobile', Helvetica, Arial, sans-serif;">Registre-se no site e cadastre seus jogos a partir do menu superior :D</h6>
 <p class="text-center" style="color:#ffffff;  font-family: 'Nobile', Helvetica, Arial, sans-serif;"><br><br><br>Projeto criado para estudo dos principios básicos de projetos MVC utilizando SpringBoot </p>
</div>
</body>

<footer>
<p class ="text-left" style="color:#ffffff;  font-family: 'Nobile', Helvetica, Arial, sans-serif;">Vinícius Barreto de Oliveira</p>
</footer>
</html>